@media screen and (max-width: 1600px) {
  .container {
    height: 80vh;
  }
  
  .text {
    top: 150px;
    width: 550px;
  }
  
  h1 {
    text-align: left;
    color: #db082e;
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'Russo One', sans-serif;
  }
  
  .pizza-img {
    position: absolute;
    max-width: 550px;
    max-height: 550px;
    right: 0px;
    bottom: 50px;
  }
}

@media screen and (max-width: 1250px) {  
  .container {
    height: 80vh;
  }
  
  .text {
    top: 80px;
    width: 500px;
  }
  
  h1 {
    font-size: 30px;
  }
  
  .pizza-img {
    max-width: 550px;
    max-height: 550px;
    bottom: 50px;
  }
}

@media screen and (max-width: 1000px) {  
  .container {
    height: 80vh;
  }
  
  .text {
    top: 80px;
    width: 450px;
  }
  
  h1 {
    font-size: 50px;
  }
  
  .pizza-img {
    max-width: 450px;
    max-height: 450px;
    bottom: 50px;
  }
}

@media screen and (max-width: 820px) {
  .container {
    height: 100vh;
  }
  
  .text {
    top: 10%;
    left: 5%;
    width: 100%;
  }
  
  h1 {
    font-size: 50px;
  }
  
  .pizza-img {
    max-width: 50vh;
    max-height: 50vh;
    bottom: 30%;
  }

  .order {
    padding: 10px 15px;
    bottom: 10%;
    left: 5%;
  }
}

@media screen and (max-width: 414px) {
  .container {
    overflow-x: hidden;
  }
    
  .text {
    /* display: none; */
  }
  
  h1 {
    font-size: 50px;
  }
  
  .pizza-img {
    max-width: 50vh;
    max-height: 50vh;
    bottom: 20%;
    right: -40%;
  }

  .order {
    padding: 10px 15px;
    bottom: 10%;
    left: 5%;
    border-radius: 10px;
  }
}